{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}<title>{{ name }} - Blog</title>{% endblock %}


{% block content %}
    <main role="main">
        <div class="container blog-list">

            {% for post in post_list %}
                <div class="post">
                    <div class="post-image">
                        {% for img in post.timelineimage_set.all %}
                            <a href="{{ img.image.url }}">
                                <img class="img-fluid" src="
                                        {% thumbnail img.image "350x250" crop="center" as im %}{{ im.url }}{% endthumbnail %}">
                            </a>
                        {% endfor %}
                    </div>

                    {% if post.message %}
                        <p>{{ post.message }}</p>
                    {% endif %}

                    <i>{{ post.created_time }}</i>
                </div>
            {% endfor %}

        </div>

        <div class="container">
            <div class="row">
                <div class="col pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </span>

                        {% if page_obj.has_next %}
                            <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>

    </main>

{% endblock %}